@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 640px) {
      @content;
    }
  }
}
