@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/themes/light';
@import '../styles/themes/dark';
.hero {
  padding-top: 100px;
  height: 100dvh;
  @include flex-center;
  text-align: center;
  background: var(--bg-color);

  .content {
    max-width: 700px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: var(--text-color);

      span {
        color: var(--primary-color);
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: var(--text-color);
    }

    a {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      background: var(--primary-color);
      color: white;
      border-radius: 6px;
      transition: background 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
