@import '../styles/global';

.footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  background-color: var(--secundary-bg-color);
  color: #6c757d;
  transition: var(--transition);
}
